.filter_container{
    margin:1rem 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #2c2c2c;
    font-weight: 600;
}

.btn {
    border:1px solid #2c2c2c;
    border-radius: 1rem;
    padding: 6px 12px;
    min-width: 3rem;
    text-align: center;
    color:#4c4cd0;
}